<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h1> {{ title }} </h1>

<h2> Alumno </h2>
<app-mostrar-alumno [alumno]='alumno'></app-mostrar-alumno>

<h2> Docente </h2>
<app-mostrar-docente [docente]='docente'></app-mostrar-docente>

<h2> Curso </h2>
<app-mostrar-curso [curso]='curso' (estadoElegido)='cambiarEstado($event)'></app-mostrar-curso>


