<ul *ngFor="let curso of cursos | keyvalue">
  <li> id: {{ curso.value.id }}</li>
  <li> titulo: {{ curso.value.titulo }}</li>
  <li> fechaInicio: {{ curso.value.fechaInicio | date }}</li>
  <li> fechaFin: {{ curso.value.fechaFin | date }}</li>
  <li> asistentes: 
    <ul>
      <li *ngFor="let asistente of curso.value.asistentes">
        {{ asistente }}
      </li>
    </ul>
</li>
  <li> profesor: 
    <ul>
      <li> id: {{ curso.value.profesor.id }}</li>
      <li> nombre: {{ curso.value.profesor.nombre }}</li>
      <li> apellido: {{ curso.value.profesor.apellido }}</li>
    </ul>
  </li>
  <li> laboratorio: {{ curso.value.laboratorio }}</li>
  <li> estado: {{ curso.value.estado }}</li>
</ul>
